GENERATE_SOURCEMAP=replace-me
FAST_REFRESH=replace-me
WDS_SOCKET_HOST=replace-me
WDS_SOCKET_PORT=replace-me
WDS_SOCKET_PATH=replace-me
REACT_APP_DISABLE_NEW_JSX_TRANSFORM=replace-me
TSC_COMPILE_ON_ERROR=replace-me
ESLINT_NO_DEV_ERRORS=replace-me
DANGEROUSLY_DISABLE_HOST_CHECK=replace-me
